<ul>
    <li class={{#if homeActive }} "active" {{else}} "" {{/if}}><a href="./">Home</a></li>
    <li class={{#if playActive }} "active" {{else}} "" {{/if}}><a href="gameChoosing">Play</a></li>
    <li class={{#if aboutActive }} "active" {{else}} "" {{/if}}><a href="about">About</a></li>
    <li class={{#if highscoresActive }} "active" {{else}} "" {{/if}}><a href="high-scores">High Scores</a></li>
    <a id="UserAvatar"  onclick="openNav()"><img id="AvatarPic" src="/img/userAvatar.png" alt="avatarPic"/></a>
</ul>


<div id="mySidepanel" class="sidepanel">
  
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <img id="AvatarImage" src="/img/Avatar.png">
  <h2>{{userName}}</h2>
  {{#if userName}}

  <a href="#">Your Stats</a>
  {{/if}}
  <a href="#">Settings</a>
  {{#if userName}}
  <a href="http://localhost:3000/logout">Log Out</a>
  {{/if}}
</div>
